@font-face {
    font-family: nanumbarungothic;
    src: url(../fonts/se-nanumbarungothic-regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: nanumbarungothic;
    src: url(../fonts/se-nanumbarungothic-bold.woff2) format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: nanumgothic;
    src: url(../fonts/se-nanumgothic-regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: nanumgothic;
    src: url(../fonts/se-nanumgothic-bold.woff2) format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: MalgunGothic;
    src: url(../fonts/MalgunGothic-Bold.woff2) format('font-woff2');
    font-weight: bold;
}